#home {
    align-items: center;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    margin: 15px 33% 0 33%;
    width: 33%;
}

#home label {
    display: flex;
    flex-direction: column;
}

.next {
    display: none;
    margin: 15px;
    padding: 15px;
    text-align: center;
}

.title {
    background-color: #f7230c; /* Rouge anglais */
    border-radius: 0 0 99px 99px;
    color: #ffffff;
    padding: 15px;
    text-align: center;
    text-shadow: #000000 1px 1px;
}

.title h1 {
    font-family: "Baguette", serif;
    font-size: xxx-large;
}

@font-face {
    font-display: swap;
    font-family: "Baguette";
    src: url("../font/Baguette.ttf");
}

a:hover {
}

a:link, a:visited {
    text-decoration: none;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5)), url("../img/87796715_3036581163040904_8469289707979669504_o.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

html {
    height: 100%;
}
