<h2 id="score"></h2>
<h4>Comments</h4>
<div id="comment">
    If you have a comment about the satisfaction survey, you can leave it here.
    <div>
        <label for="question9"></label>
        <textarea class="textArea" id="question9" placeholder="Write your comment here..."></textarea>
    </div>
    <div>
        <h4 id="required">You must write a comment to be able to submit one.</h4>
    </div>
    <div id="submit">
        <a id="submitButton" href="javascript:void(0);">Submit comment</a>
    </div>
</div>
<h4>Statistics</h4>
<div>
    <canvas id="ctx"></canvas>
</div>
