<!--suppress JSUnresolvedFunction -->
<h4>Satisfaction scale</h4>
<div>
    Are you satisfied with the food (1 is an extremely unsatisfied opinion and 10 meaning you were very satisfied)?
    <div>
        <div id="number">6</div>
        <label>
            <input id="question4" max="10" min="1" type="range">
        </label>
    </div>
</div>
<div>
    Are you satisfied with the motivation of the restaurant waiter?
    <div class="radios">
        <a class="radio1" data-index="1" href="javascript:void(0);" id="question51">Unsatisfied</a>
        <a class="radio1" data-index="2" href="javascript:void(0);" id="question52">Satisfied</a>
        <a class="radio1" data-index="3" href="javascript:void(0);" id="question53">Very satisfied</a>
    </div>
</div>
<div>
    Are you satisfied with the setting and atmosphere of the restaurant?
    <div>
        <label>
            <input id="question6" max="100" min="1" type="range">
        </label>
    </div>
</div>
