<h4>
    <span lang="en">Satisfaction scale</span>
    <span lang="fr">Échelle de satisfaction</span>
</h4>
<div>
    <span lang="en">On a score of 0 to 10, are you satisfied with the food?</span>
    <span lang="fr">Sur une note de 0 à 10, êtes-vous satisfait de la nourriture ?</span>
    <div>
        <div id="rangeNumber">5</div>
        <label>
            <input id="question4" max="10" min="0" type="range" value="5">
        </label>
    </div>
</div>
<div>
    <span lang="en">Are you satisfied with the motivation of the restaurant waiters?</span>
    <span lang="fr">Êtes-vous satisfait de la motivation des serveurs du restaurant ?</span>
    <div class="radio">
        <a class="radio11" data-index="1" href="javascript:void(0);" id="question511" lang="en">Unsatisfied</a>
        <a class="radio12" data-index="1" href="javascript:void(0);" id="question512" lang="fr">Insatisfait</a>
        <a class="radio11" data-index="2" href="javascript:void(0);" id="question521" lang="en">Satisfied</a>
        <a class="radio12" data-index="2" href="javascript:void(0);" id="question522" lang="fr">Satisfait</a>
        <a class="radio11" data-index="3" href="javascript:void(0);" id="question531" lang="en">Very satisfied</a>
        <a class="radio12" data-index="3" href="javascript:void(0);" id="question532" lang="fr">Très satisfait</a>
    </div>
</div>
<div>
    <span lang="en">Are you satisfied with the setting and atmosphere of the restaurant?</span>
    <span lang="fr">Êtes-vous satisfait du cadre et de l'ambiance du restaurant ?</span>
    <div>
        <label>
            <input id="question6" max="100" min="0" type="range" value="50">
        </label>
    </div>
</div>
