<!--suppress XmlDuplicatedId -->
<h4>
    <span lang="en">Services usage</span>
    <span lang="fr">Utilisation des services</span>
</h4>
<div>
    <span lang="en">How often do you use the foo(d) services?</span>
    <span lang="fr">À quelle fréquence utilisez-vous les services foo(d) ?</span>
    <div>
        <label>
            <select id="question11">
                <option lang="en" value="1">Once</option>
                <option lang="fr" value="1">Une fois</option>
                <option lang="en" selected value="2">Several times</option>
                <option lang="fr" selected value="2">Plusieurs fois</option>
            </select>
        </label>
        <span lang="en">&nbspa&nbsp</span>
        <span lang="de">&nbsppar&nbsp</span>
        <label>
            <select id="question12">
                <option lang="en" value="4">day</option>
                <option lang="fr" value="4">jour</option>
                <option lang="en" value="3">week</option>
                <option lang="fr" value="3">semaine</option>
                <option lang="en" selected value="2">month</option>
                <option lang="fr" selected value="2">mois</option>
                <option lang="en" value="1">year</option>
                <option lang="fr" value="1">an</option>
            </select>
        </label>
        .
    </div>
</div>
<div>
    <span lang="en">What is your favorite portion offered by foo(d)?</span>
    <span lang="fr">Quelle est votre portion préférée des services foo(d) ?</span>
    <div>
        <div>
            <input id="question21" name="question2" type="radio" value="1">
            <label for="question21" lang="en">A main course</label>
            <label for="question21" lang="fr">Un plat principal</label>
        </div>
        <div>
            <input id="question22" name="question2" type="radio" value="2">
            <label for="question22" lang="en">A starter plus main course menu</label>
            <label for="question22" lang="fr">Un menu entrée et plat principal</label>
        </div>
        <div>
            <input checked id="question23" name="question2" type="radio" value="3">
            <label for="question23" lang="en">A main course plus dessert menu</label>
            <label for="question23" lang="fr">Un menu plat principal et dessert</label>
        </div>
        <div>
            <input id="question24" name="question2" type="radio" value="4">
            <label for="question24" lang="en">A starter plus main course plus dessert menu</label>
            <label for="question24" lang="fr">Une menu entrée, plat principal et dessert</label>
        </div>
    </div>
</div>
<div>
    <span lang="en">What would you improve if you could?</span>
    <span lang="fr">Qu'améliorer-vous si vous le pouviez ?</span>
    <div>
        <label for="question3"></label>
        <textarea class="textArea" id="question3" lang="en" placeholder="Write your remark here..."></textarea>
        <textarea class="textArea" id="question3" lang="fr" placeholder="Écrivez votre remarque ici..."></textarea>
    </div>
</div>
