<h4>Demographics</h4>
<div>
    <label class="numberAndText">
        <input id="lastName" placeholder="Last name" type="text">
        <input id="firstName" placeholder="First name" type="text">
        <input id="age" placeholder="Age" type="number">
        <input id="email" placeholder="Email" type="email">
        <input id="phoneNumber" placeholder="Phone number" type="number">
        <input id="question0" placeholder="How often you have eaten out in the past month" type="number">
    </label>
</div>
