<h4>Service usage</h4>
<div>
    How often do you use the foo(d) services?
    <div class="select">
        <label>
            <select>
                <option value="once">Once</option>
                <option value="severalTimes">Several times</option>
            </select>
        </label>
        &nbspa&nbsp
        <label>
            <select>
                <option value="day">day</option>
                <option value="week">week</option>
                <option value="month">month</option>
                <option value="year">year</option>
            </select>
        </label>
        .
    </div>
</div>
<div>
    What is your favorite portion of the foo(d) services?
    <div>
        <div>
            <input id="question21" name="question2" type="radio">
            <label for="question21">A main course</label>
        </div>
        <div>
            <input id="question22" name="question2" type="radio">
            <label for="question22">A starter plus main course menu</label>
        </div>
        <div>
            <input id="question23" name="question2" type="radio">
            <label for="question23">A main course plus dessert menu</label>
        </div>
        <div>
            <input id="question24" name="question2" type="radio">
            <label for="question24">A starter plus main course plus dessert menu</label>
        </div>
    </div>
</div>
<div>
    What would you improve if you could?
    <div>
        <label for="question3"></label>
        <textarea class="textArea" id="question3"></textarea>
    </div>
</div>
