<!--suppress HtmlUnknownTarget -->
<h4>Satisfaction scale</h4>
<div>
    Are you satisfied with the prices of the foo(d)'s products and services?
    <div class="radios">
        <a class="radio2" data-index="1" href="javascript:void(0);" id="question81">
            <img alt="emoji1" src="img/emoji1.png">
        </a>
        <a class="radio2" data-index="2" href="javascript:void(0);" id="question82">
            <img alt="emoji2" src="img/emoji2.png">
        </a>
        <a class="radio2" data-index="3" href="javascript:void(0);" id="question83">
            <img alt="emoji3" src="img/emoji3.png">
        </a>
    </div>
</div>
<h4>Longevity</h4>
<div>
    May we contact you to follow up on these responses?
</div>
