<h4>
    <span lang="en">Satisfaction scale</span>
    <span lang="fr">Échelle de satisfaction</span>
</h4>
<div>
    <span lang="en">Are you satisfied with the prices of the foo(d)'s products and services?</span>
    <span lang="fr">Êtes-vous satisfait des prix des produits et services de foo(d) ?</span>
    <div class="radio">
        <a class="radio2" data-index="1" href="javascript:void(0);" id="question71">
            <img alt="emoji1" src="img/emoji1.png">
        </a>
        <a class="radio2" data-index="2" href="javascript:void(0);" id="question72">
            <img alt="emoji2" src="img/emoji2.png">
        </a>
        <a class="radio2" data-index="3" href="javascript:void(0);" id="question73">
            <img alt="emoji3" src="img/emoji3.png">
        </a>
    </div>
</div>
<h4>
    <span lang="en">Longevity</span>
    <span lang="fr">Longévité</span>
</h4>
<div>
    <input id="question8" type="checkbox">
    <label for="question8" lang="en">I agree to be contacted to follow up on these responses.</label>
    <label for="question8" lang="fr">J'accepte d'être contacté pour donner suite à ces réponses.</label>
</div>
